$light-text: rgb(70, 70, 70);
$darkish-gray: #4f5354;
$light-border: #d2d4d6;

@mixin slow-transition {
  transition: all 0.3s linear;
}

@mixin btn-styles {
  width: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: white;
  box-shadow: 0 0 3px $darkish-gray;

  @include slow-transition;

  .fas {
    font-size: 1.2rem;
  }

  &:hover {
    background-color: lightgray;
  }

  &:active {
    color: white;
  }
}

@mixin card-styles {
  width: 100%;
  border: 1px solid $light-border;
  border-radius: 6px;
  margin-bottom: 60px;
  padding: 40px 40px 40px 40px;
  box-shadow: 0px 40px 40px -30px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 40px 40px -30px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 40px 40px -30px rgba(0, 0, 0, 0.15);
}

@mixin media-md {
  @media screen and (min-width: 780px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
