.experience {
  padding: 84px 0 84px 0;

  .experience-header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin-bottom: 5px;
    }

    a {
      font-size: 0.8rem;
      text-decoration: none;
      color: black;
      @include slow-transition;

      &:hover {
        color: $darkish-gray;
      }

      .fas {
        transform: rotate(-45deg);
      }
    }
  }

  .experience-desc {
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .experience-cards-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .experience-card {
      @include card-styles;

      .card-content {
        .card-title-cont {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;

          .main-card-title {
            p {
              font-size: 0.8rem;
            }
          }

          .work-dates {
            font-size: 0.8rem;
          }
        }

        .card-exp-desc {
          line-height: 1.5;
          font-size: 0.8rem;
        }
      }
    }
  }
}
