.featured-projects {
  padding-bottom: 84px;
  border-bottom: 1px solid $light-border;
  .projects-header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .main-projects-title {
      // mobile margin
      margin-bottom: 20px;
      h2 {
        margin-bottom: 15px;
      }
    }

    a {
      font-size: 0.8rem;
      text-decoration: none;
      color: black;
      @include slow-transition;

      &:hover {
        color: $darkish-gray;
      }

      .fas {
        transform: rotate(45deg);
      }
    }
  }

  .cards-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .card {
      @include card-styles;
      max-width: 400px;
      display: flex;
      flex-direction: column;

      .card-img-cont {
        background-color: $light-border;
        border-radius: 6px;
        width: 100%;
        height: 150px;
        margin: 0 auto 20px auto;
        flex-shrink: 0;
      }

      .card-content {
        h3 {
          margin-bottom: 12px;
        }

        p {
          line-height: 1.5;
          margin-bottom: 45px;
          font-size: 0.8rem;
        }
      }

      a {
        margin-top: auto;
        .fas {
          @include slow-transition;
          margin-left: 5px;
        }

        &:hover {
          .fas {
            margin-left: 12px;
          }
        }

        &:active {
          .fas {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
