@include media-md {
  .page-wrap {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .sidebar-bg-overlay,
  .menu-container {
    display: none;
  }

  .sidebar {
    width: 250px;
    height: 100vh;
    position: relative;
    .sidebar-container {
      width: 250px;
      transform: translateX(0);
      left: 0;
      .inner-sidebar-container {
        .skills {
          margin-bottom: 30px;
        }
      }
    }
  }

  .main-container {
    .main-wrap {
      max-width: 850px;
      padding-top: 50px;
      .mobile-header {
        display: none;
      }
    }
  }

  .featured-projects {
    .projects-header {
      flex-direction: row;
      align-items: center;
    }

    .cards-wrap {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;

      .card {
        height: 500px;

        .card-content {
          h3 {
            font-size: 20px;
          }
          p {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .education {
    .education-header {
      margin-bottom: 12px;
    }
    .education-cards-wrap {
      .education-card {
        .card-content {
          .card-title-cont {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-bottom: 20px;

            .main-card-title {
              margin-bottom: 0px;

              p {
                font-size: 1rem;
              }
            }
          }

          .card-ed-desc {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .experience {
    .experience-header {
      margin-bottom: 12px;
    }
    .experience-cards-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .experience-card {
        .card-content {
          .card-title-cont {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-bottom: 20px;

            .main-card-title {
              margin-bottom: 0px;
            }
          }

          .card-exp-desc {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@include media-lg {
  .sidebar {
    width: 400px;
    .sidebar-container {
      width: 400px;
      transform: translateX(0);
      left: 0;

      .inner-sidebar-container {
        .main-bio {
          h1 {
            font-size: 36px;
          }
        }
      }
    }
  }

  .main-container {
    .main-wrap {
      .scroll-btn {
        &.show {
          width: 55px;
          bottom: 75px;
        }
      }
    }
  }

  .featured-projects {
    .projects-header {
      flex-direction: row;
      align-items: center;

      .main-projects-title {
        // mobile margin
        margin-bottom: 20px;
        h2 {
          font-size: 36px;
        }
      }

      a {
        font-size: 1rem;
      }
    }
  }

  .education {
    .education-header {
      h2 {
        font-size: 36px;
      }

      a {
        font-size: 1rem;
      }
    }
    .education-cards-wrap {
      .education-card {
        .card-content {
          .card-title-cont {
            .main-card-title {
              h3 {
                font-size: 28px;
              }

              p {
                font-size: 1.2rem;
              }
            }

            .grad-date {
              font-size: 1rem;
            }
          }

          .card-ed-desc {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .experience {
    .experience-header {
      h2 {
        font-size: 36px;
      }

      a {
        font-size: 1rem;
      }
    }
    .experience-cards-wrap {
      .experience-card {
        .card-content {
          .card-title-cont {
            .main-card-title {
              h3 {
                font-size: 28px;
              }
              p {
                font-size: 1.2rem;
              }
            }
          }

          .card-exp-desc {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
